@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using School.Controllers
@{
    ViewBag.Title = "Успеваемость";
    Layout = "~/Views/_LayoutClient.cshtml";
    string Enable = "";
    string StudierValue = "";
    bool user = false;
    string sel = "selected";
    if (AccountController.current.level < 3) {
        Enable = "disabled";
        StudierValue = AccountController.current.level == 2 ? AccountController.current.child.lastName : AccountController.current.lastName;
        user = true;
    }


}

<div class="parents-conroll to-animate">
    <div class="table-element">
        <h1 class="center-b24"><i class="center-b24"></i></h1>
        <table class="table-element-parents">
            <tr>
                <th>Код оценки</th>
                <th>Класс</th>
                <th>Учащийся</th>
                <th>Предмет</th>
                <th>Оценка</th>
                <th>Дата оценки</th>
                <th>Преподаватель</th>
            </tr>
            @foreach (var p in MarkController.marks)
            {
        <tr>
            <td>@p.id</td>
            <td>@p.ScClass.Name</td>
            <td>@p.Studier.lastName @p.Studier.name[0]</td>
            <td>@p.scObj.name</td>
            <td>@p.mark</td>
            <td>@p.dateTime.ToString("dd/MM/yy")</td>
            <td>@p.Teacher.lastName @p.Teacher.name[0]</td>

        </tr>
            }
        </table>
    </div>
    <div class="cotrollTable">
        <form action="show" method="post">
            <select class="simpleComboBox" name="idClass" title="Класс" @Enable>
                <option value="%">Все</option>
                @foreach (var c in HomeController.classes)
                {
    <option value="@c.idClass" @if (user && AccountController.current.child.ScClass.Equals(c.Name)) { @sel ; }>
        @c.Name
    </option>            }
            </select>
            <select class="simpleComboBox" name="idScObj" title="Предмет">
                <option value="%">Все</option>
                @foreach (var c in HomeController.scObjs)
                {
    <option value="@c.id">@c.name</option>}
            </select>
            <input class="simpleText" name="dateMark" type="date" title="Дата оценки">
            <input class="simpleText" name="Studier" type="text" placeholder="Фамилия учащегося" value="@StudierValue" @Enable>
            <input class="simpleText" name="Teacher" type="text" placeholder="Фамилия учителя">
            <div class="submit">
                <input type="submit" value="Поиск">
            </div>
        </form>
        <div style="display: flex; font-size: 14px;">
            <a class="a-to-button" href="#popup1">Выставить оценку</a>
            <a class="a-to-button" href="/Mark/likeToChanche">Запрос на изменение оценки</a>
        </div>
    </div>
</div>

<div id="popup1" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <form action="addmark" method="post">
                <input class="simpleText" name="idStudier" type="text" placeholder="ID ученика">
                <select class="simpleComboBox" name="idScObj" title="Предмет">
                    @foreach (var c in HomeController.scObjs)
                    {
            <option value="@c.id">@c.name</option>}
                </select>
                <input class="simpleText" name="mark" type="number" min="0" max="10" placeholder="Оценка">
                <input class="simpleText" name="dateMark" type="date" title="Дата оценки">
                <div class="submit">
                    <input type="submit" value="Подтвердить">
                </div>
            </form>
        </div>
    </div>
</div>
