@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Text.RegularExpressions;
@using School.Data.Models;
@using School.Controllers;
@{ ViewBag.Title = "Расписание";
    Layout = "~/Views/_LayoutClient.cshtml";
    string Enable = "";
    if (AccountController.current.level == 1)
    {
        Enable = "disabled";
    }
    string selected = "selected";
    DateTime now = DateTime.Now;
    string a = now.ToString("HH");
    int h = Convert.ToInt32(now.ToString("HH"));
    int m = Convert.ToInt32(now.ToString("mm"));
    string translatedNow = "";
    string choosedScObj = "";
    string toSelect = "style=background-color:#58b359;";
    TimeTableController.days.TryGetValue(now.DayOfWeek.ToString(), out translatedNow);
    if (translatedNow.Equals(TimeTableController.dayOfWeak))
    {
        foreach (var r in TimeTableController.Rings)
        {
            Match match = Regex.Match(r.start, @"(.*?):[0-9][0-9]:[0-9][0-9]");
            string hStart = match.Groups[1].Value;
            match = Regex.Match(r.start, @":(.*?):[0-9][0-9]$");
            string mStart = match.Groups[1].Value;

            match = Regex.Match(r.end, @"(.*?):[0-9][0-9]:[0-9][0-9]");
            string hEnd = match.Groups[1].Value;
            match = Regex.Match(r.end, @":(.*?):[0-9][0-9]$");
            string mEnd = match.Groups[1].Value;


            if (h >= Convert.ToInt32(hStart) && h <= Convert.ToInt32(hEnd) && m >= Convert.ToInt32(mStart) && m <= Convert.ToInt32(mEnd))
            {
                choosedScObj = r.id.ToString();
            }
        }
    }

}


<div class="parents-conroll to-animate">
    <div class="table-element">
        <h1 class="center-b24">Расписание для <i class="center-b24">@TimeTableController.chossedClass</i>, на день: <i class="center-b24">@TimeTableController.dayOfWeak</i></h1>
        <table class="table-element-parents">
            <tr>
                <th>№ урока</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Предмет</th>
                <th>Учитель</th>
                <th>Кабинет</th>
            </tr>
            @foreach (var p in TimeTableController.choosedDay)
            {
                <tr @if (p.numb.Equals(choosedScObj)) { @toSelect }>
                    <td>@p.numb</td>
                    <td>@p.start</td>
                    <td>@p.end</td>
                    <td>@p.ScObj</td>
                    <td>@p.LastNameTeacher</td>
                    <td>@p.ClassRoom</td>
                </tr>            
            }
        </table>
    </div>
    <div class="cotrollTable">
        <form action="TimeTableClasses" method="post">
            <select class="simpleComboBox" name="idClass" title="Класс" @Enable>
                @foreach (var c in TimeTableController.classes)
                {
    <option value="@c.idClass"
            @if (TimeTableController.chossedClass.Equals(c.Name)) { @selected }>
        @c.Name
    </option>}
            </select>
            <select class="simpleComboBox" name="Day" title="День">
                <option value="1" @if (TimeTableController.dayOfWeak.Equals("Понедельник")) { @selected }>
                    Понедельник
                </option>
                <option value="2" @if (TimeTableController.dayOfWeak.Equals("Вторник")) { @selected }>
                    Вторник
                </option>
                <option value="3" @if (TimeTableController.dayOfWeak.Equals("Среда")) { @selected }>
                    Среда
                </option>
                <option value="4" @if (TimeTableController.dayOfWeak.Equals("Четверг")) { @selected }>
                    Четверг
                </option>
                <option value="5" @if (TimeTableController.dayOfWeak.Equals("Пятница")) { @selected }>
                    Пятница
                </option>
                <option value="6" @if (TimeTableController.dayOfWeak.Equals("Суббота")) { @selected }>
                    Суббота
                </option>
            </select>
            <div class="submit">
                <input type="submit" value="Поиск">
            </div>
        </form>
    </div>
</div>

