@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Добро пожаловать!";
    Layout = "~/Views/_LayoutClient.cshtml";
}

<p class="text-index-p">Добро пожаловать <b>@ViewBag.thisAccount.lastName @ViewBag.thisAccount.name @ViewBag.thisAccount.patronymic</b></p>
<p class="text-index-p">Вы <b>@ViewBag.thisAccount.position</b>, Ваш уровень доступа <b>@ViewBag.thisAccount.level из 7</b></p>
<p class="text-index-p">Выберайте пункты меню для работы с web-приложением</p>