@using School.Data.Models
@using School.Controllers
@{ 
    Person I = AccountController.current;
    string avaPath = "/images/avatar.png";
    if (AccountController.current != null)
    {
        if (!AccountController.current.avatar.Equals(""))
        {
            avaPath = AccountController.current.avatar;
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/styles/style.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/popuo-box.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/style_menu.css" rel="stylesheet" />
</head>
<body>
    <div class="login-head">
        <h2>ГУО &laquo;Средняя школа №1 г. Полоцка&raquo;</h2>
    </div>  
    <div class="main-menu">
            <div class="menu">
                <ul class="menu__list">
                    <li>
                        <p class="menu__link">Родители</p>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="/Client/Parents" class="sub-menu__link">Просмотр </a>
                            </li>
                            @if (I.level > 5)
                            {
                <li>
                    <a href="/Client/ParentsConnections" class="sub-menu__link">Установка связей</a>
                </li>}
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu__link">Учащиеся</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="/Students/students" class="sub-menu__link">Просмотр</a>
                            </li>
                            @if (AccountController.current.level > 5)
                            {


                <li>
                    <a href="/Students/SetClass" class="sub-menu__link">Установка класса</a>
                </li>}
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu__link">Сотрудники</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="/Employer/Show" class="sub-menu__link">Просмотр</a>
                            </li>
                            @if (AccountController.current.level > 5)
                            {


                <li>
                    <a href="/Employer/UpdatePosition" class="sub-menu__link">Редактирование должности</a>
                </li>}
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu__link">Успеваемость</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="/Mark/show" class="sub-menu__link">Просмотр</a>
                            </li>
                            @if (AccountController.current.level == 7)
                            {
                <li>
                    <a href="/Mark/Editor" class="sub-menu__link">Редактировать</a>
                </li>}
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu__link">Расписание</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="/TimeTable/TimeTableClasses" class="sub-menu__link">Просмотр</a>
                            </li>
                            @if (AccountController.current.level > 5)
                            {
                <li>
                    <a href="/TimeTable/SetUpTimeTable" class="sub-menu__link">Редактировать</a>
                </li>}
                        </ul>
                    </li>
                    
                        <li>
                            <p class="menu__link">Мероприятия</p>
                            <ul class="sub-menu__list">
                                <li>
                                    <a href="/ScAction/show" class="sub-menu__link">Просмотр</a>
                                </li>
                                @if (AccountController.current.level > 5)
                                {
                                <li>
                                    <a href="" class="sub-menu__link">Редактировать</a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu__link">Удалить</a>
                                </li>
                                }
                            </ul>
                        </li>
                    
                    @if (AccountController.current.level == 7)
                    {
                <li>
                    <p class="menu__link">Управление БД</p>
                    <ul class="sub-menu__list">
                        <li>
                            <a href="/Account/delete" class="sub-menu__link">Удаление аккаунта</a>
                        </li>
                        <li>
                            <a href="/admin/toEdit" class="sub-menu__link">Редактор аккаунтов</a>
                        </li>
                        <li>
                            <a href="" class="sub-menu__link">Таблицы</a>
                        </li>
                    </ul>
                </li>}

                </ul>
            </div>
            <div class="AccountSet">
                <ul class="menu__list">
                    <li>

                        <!--<a href="" class="menu__link">-->
                        <div class="list-login menu__link">
                            <div style="margin-right: 25px;">
                                <img class="ava" src="@avaPath" height="64" width="64" />
                            </div>
                            <div>@I.lastName @I.name</div>
                        </div>
                        <!--</a>-->

                        <ul class="sub-menu__list">
                            <li>
                                <a href="/Client/myAccount" class="sub-menu__link">Управление аккаунтом</a>
                            </li>
                            <li>
                                <a href="/Account/LogOut" class="sub-menu__link">Выход</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    <div class="render-body">
        @RenderBody()
    </div>
    <div class="footer">
        <p>Copyright &copy; 2021  Все права защищены | <a href="/Client/Index">Главная</a> | Сообщение разработчику <a href="mailto:dbschool.krigin.psu@gmail.com">dbschool.krigin.psu@gmail.com</a></p>
    </div>

</body>
</html>